#book-details{
    display: flex;
    padding: 2rem;
}

#book-image-container img{
    height: 100%;
}

#details-wrapper{
    margin-top: 5rem;
    width: 100%;
    height: 50%;
    border-radius: 0 5px 5px 0;
    box-shadow: 2px 1px 5px 4px #00347026;
}

#book-title{
    background-color: #08C642;
    line-height: 4rem;
    border-radius: 0 5px 5px 0;
}

#book-title h2{
    color: #fff;
    margin-left: 2rem;
    margin-top: 0;
    vertical-align: middle;
}

#details-information{
    padding-left: 2rem;
    margin-bottom: 1rem;
}

#book-author{
    color: #1076b5;
    font-weight: bold;
}

#book-description{
    width: 95%;
    margin-top: 3rem;
}

#back div a {
    margin-left: 0.5rem;
    text-decoration: none;
    color: black;
}

@media (min-width: 320px) {
    #book-details{
        display: block;
        box-shadow: none;
    }

    #book-image-container{
        box-shadow: none;
        text-align: center;
        height: 35vh;
    }

    #details-wrapper{
        margin-top: 0rem;
        padding-bottom: 0.5rem;
        height: 100%;
    }

    #back{
        display: flex;
        padding: 1rem 2rem 0 2rem;
    }
}

@media (min-width: 480px) {
    #book-image-container{
        height: 45vh;
    } 
}

@media (min-width: 760px) {
    #book-image-container{
        height: 55vh;
    }

    #back{
        display: none;
    }
}

@media (min-width: 960px) {
    #book-details{
        display: flex;
        padding: 2rem;
    }

    #book-image-container{
        height: 70vh;
        box-shadow: 2px 1px 5px 4px #00347026;
    }

    #details-wrapper{
        margin-top: 4rem;
    }
}