#hamburger{
    box-shadow: 2px 1px 5px 4px #00347026;
}

#hamburger-wrapper{
    display: flex;
}

.hamburger-item{
    width: 33%;
}

.hamburger-item:nth-child(1){
    height: 16px;
    padding: 1.5rem 1.5rem;
}

.hamburger-item:nth-child(3){
    display: flex;
    justify-content: end;
    margin: 1.5rem 1rem 0 2rem;
}

.hamburger-profile-hide , .hamburger-logout-hide{
    display: none;
}

.hamburger-logout{
    margin-left: 0.5rem;
    height: 25px;
}

.logo{
    height: 35px;
}

.show-toggle{
    overflow: hidden;
    height: 0px;
    transition: height 0.3s ease;
}

.hide-toggle{
    height: 150px;
    transition: height 0.3s ease;
    padding-bottom: 2rem;
    overflow: auto;
}

.hamburger-button{
    margin: 1rem 2rem;
}

.library{
    width: 70px;
}

.settings{
    width: 80px;
}

.hamburger-link{   
    color: black;
    text-decoration: none;
}

.hamburger-link-bold{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

@media (min-width: 320px) {
    .logo{
        padding: 1rem 0;
        height: 30px;
    }

    .hamburger-profile{
        height: 30px;
    }

    .hamburger-logout{
        height: 22px;
    }

    .hamburger-item:nth-child(2){
        padding-right: 1.5rem;
    }
}

@media (min-width: 460px) {
    .logo{
        padding: 1rem 0;
        height: 35px;
    }

    .hamburger-profile{
        height: 35px;
    }

    .hamburger-logout{
        height: 25px;
    }
}

@media (min-width: 760px) {
    #hamburger{
        display: none;
    }
}