.search-container{
    display: flex;
    padding: 1rem 3rem;
}

.all-books{
    margin-top: 0.25rem;
    white-space: nowrap;
}

.search-icon-container{
    margin-top: 1rem;
    text-align: end;
    position: relative;
    cursor: pointer;
}

.search{
    position: absolute;
    margin-top: 5px;
    height: 25px;
}

.search-input{
    width: 100%;
    border-radius: 4px;
    height: 2rem;
    border: 1px solid #0d242e;
    font-size: 18px;
    padding-left: 1rem;
}

@media (min-width: 320px) {
    #all-books{
        display: block;
        padding: 0;
    }

    .search-container{
        width: 80%;
        display: block;
        padding: 1rem 2rem;
    }

    .search-icon-container{
        width: 95%;
    }

    .search-input-wrapper{
        margin-left: 0;
    }
}

@media (min-width: 460px) {
    .search-container{
        display: flex;
    }

    .search-icon-container{
        width: 95%;
    }
    
    .search-input-wrapper{
        margin-left: 1rem;
    }
}

@media (min-width: 1200px) {
    #all-books{
        display: flex;
        flex-wrap: wrap;
        padding: 1rem 2rem;
    }
}