#navbar{
    box-shadow: 2px 1px 5px 4px #00347026;
    padding: 0 2rem;
}

.navbar-item{
    width: 33%;
}

.navbar-item:nth-child(1){
    padding-left: 1rem;
}

.navbar-item:nth-child(2){
    display: flex;
    justify-content: center;
    margin-right: 3rem;
}

.navbar-item:nth-child(3){
    display: flex;
    justify-content: end;
    margin: 1.5rem 1rem 0 2rem;
}

.navbar-buttons{
    margin-top: 2rem;
    margin-left: 2rem;
}

.navbar-link{
    color: black;
    text-decoration: none;
}

.hidden{
    height: 5px;
    background-color: #fff;
}

.selected{
    font-weight: bold;
    height: 5px;
    background-color: #08C642;
    margin-top: 1rem;
}

.profile-logout{
    cursor: pointer;
    margin-left: 0.5rem;
    height: 25px;
}

#settings-back-button{
    display: flex;
    justify-content: space-between;
    width: 90px;
    height: 100%;
    margin-top: 2rem;
}

#settings-back-button > div > a{
   text-decoration: none;
   font-size: 18px;
   font-weight: bold;
   color: #000;
}

@media (min-width: 320px) {
    #navbar{
        display: none;
    }

    .profile-logout{
        height: 25px;
    }
}

@media (min-width: 760px) {
    #navbar{
        display: flex;
    }

    .logo{
        padding: 10px 0;
        height: 35px;
    }

    .profile-logout{
        height: 30px;
    }
}

@media (min-width: 1200px) {
    .logo{
        height: 40px;
    }

    .profile-logout{
        height: 30px;
    }
}
