#register-wrapper{
    display: flex;
    border-radius: 5px;
    box-shadow: 2px 1px 5px 4px #00347026;
}

.logo-container{
    padding: 7rem 10rem 3rem 10rem;
}

#register-form h2{
    font-size: 20px;
    text-align: center;
    margin-top: 2rem;
}

#register-form h4{
    text-align: center;
}

.input-container{
   margin-top: 1rem;
}

.input-container label{
    font-size: 14px;
}

.input-container div{
    margin-bottom: 0.5rem;
}

.input{
    width: 100%;
    border-radius: 4px;
    height: 1.8rem;
    border: 1px solid #0d242e;
    font-size: 18px;
}

.icon-container{
    width: 95%;
    text-align: end;
    position: relative;
    cursor: pointer;
}

.view-password{
    position: absolute;
    margin-top: 10px;
}

.hide-password{
    position: absolute;
    margin-top: 10px;
    filter: invert(45%) sepia(89%) saturate(1729%) hue-rotate(106deg) brightness(105%) contrast(94%);
}

#recover-password{
    width: 100%;
    margin-top: 0.5rem;
    text-align: end;
    font-size: 12px;
}

#recover-password a{
    color: #1076B5;
}

.button-container{
    margin-top: 4rem;
    width: 100%;
}

.button-container button{
    width: 100%;
    height: 2rem;
    color: #ffffff;
    background-color: #08C642;
    border: 0;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.bottom-container{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.bottom-container div{
    margin-left: 0.3rem;
    font-size: 14px;
}

.bottom-container div a{
    font-weight: bold;
    color: #1076B5;
}

.image-wrapper{
    height: 90%;
    width: 100%;
}

.image-wrapper img{
    width: 100%;
    height: 90vh;
}

@media (min-width: 320px) {
    #register-wrapper{
        display: block;
        margin: 0;
        height: 100vh;
        background: url('../../../public//images/book.png');
    }

    #register-container{
        height: 100%;
    }

    .logo-container{
        padding: 0 0 2rem 0;
        margin: 0 auto;
        text-align: center;
    }

    .logo-container img{
        width: 200px;
        height: 150px;
    }

    #register-form{
        padding: 1rem;
        margin: 0 1rem;
        background-color: #ffffff;
        border-radius: 5px;
    }

    .icon-container{
        width: 92%;
    }

    .image-wrapper{
        display: none;
    }
}

@media (min-width: 480px) {
    .logo-container img{
        width: 250px;
        height: 150px;
    }

    #register-form{
        padding: 1rem 2rem;
        margin: 0 2rem;
    }

    #register-form form{
        padding: 0 2rem;
    }

    .icon-container{
        width: 93%;
    }
}

@media (min-width: 760px) {
    .logo-container img{
        width: 300px;
        height: 200px;
    }

    #register-form{
        padding: 1rem 4rem;
        margin: 0 4rem;
        border-radius: 5px;
    }

    #register-form h2{
        overflow: hidden;
        white-space: nowrap;
    }

    #register-form form{
        padding: 0 3rem;
    }

    .icon-container{
        width: 95%;
    }
}

@media (min-width: 960px) {
    #register-wrapper{
        display: flex;
        margin: 2rem;
        height: 90vh;
    }

    #register-container{
        background-image: none;
        background-color: #ffffff;
        height: 100%;
    }

    .logo-container{
        padding: 2rem 4rem 0 4rem;
    }

    .logo-container img{
        width: 250px;
        height: 60px;
    }

    #register-form{
        padding: 0;
        margin: 0 2rem;
    }

    #register-form h4{
        margin-bottom: 2rem;
    }

    .icon-container{
        width: 93%;
    }

    .image-wrapper{
        display: block;
    }
}

@media (min-width: 1200px) {
    .logo-container{
        padding: 2rem 6rem 0 6rem;
    }

    .logo-container img{
        width: 300px;
    }

    #register-form{
        margin: 0 3rem;
    }
}

@media (min-width: 1400px) {
    .logo-container{
        padding: 4rem 8rem 0 8rem;
    }

    .logo-container img{
        width: 300px;
    }

    #register-form{
        margin: 0 4rem;
    }

    .bottom-container{
        margin-top: 1rem;
    }
}