#login-wrapper{
    display: flex;
    border-radius: 5px;
    box-shadow: 2px 1px 5px 4px #00347026;
}

.logo-container{
    padding: 7rem 10rem 3rem 10rem;
}

#login-form h2{
    font-size: 20px;
    text-align: center;
    margin-top: 2rem;
}

.input-container{
   margin-top: 1.5rem;
}

.input-container div{
    margin-bottom: 0.75rem;
}

.input{
    width: 100%;
    border-radius: 4px;
    height: 2rem;
    border: 1px solid #0d242e;
    font-size: 18px;
}

.icon-container{
    width: 95%;
    text-align: end;
    position: relative;
    cursor: pointer;
}

.view-password{
    position: absolute;
    margin-top: 12px;
}

.hide-password{
    position: absolute;
    margin-top: 12px;
    filter: invert(45%) sepia(89%) saturate(1729%) hue-rotate(106deg) brightness(105%) contrast(94%);
}

#recover-password{
    width: 100%;
    margin-top: 0.5rem;
    text-align: end;
    font-size: 12px;
}

#recover-password a{
    color: #1076B5;
}

.button-container{
    margin-top: 4rem;
    width: 100%;
}

.button-container button{
    width: 100%;
    height: 2.5rem;
    color: #ffffff;
    background-color: #08C642;
    border: 0;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.bottom-container{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.bottom-container div{
    margin-left: 0.3rem;
    font-size: 14px;
}

.bottom-container div a{
    font-weight: bold;
    color: #1076B5;
}

.image-wrapper{
    height: 90%;
    width: 100%;
}

.image-wrapper img{
    width: 100%;
    height: 90vh;
}

.error-visible{
    position: absolute;
    display: flex;
    white-space: wrap;
    width: 70%;
}

.error-span-container{
    width: 40%;
}

.error-hidden{
    display: none;
}

@media (min-width: 320px) {
    #login-wrapper{
        display: block;
        margin: 0;
        height: 100vh;
        background: url('../../../public//images/book.png');
    }

    #login-container{
        height: 100%;
    }

    .logo-container{
        padding: 0 0 3rem 0;
        margin: 0 auto;
        text-align: center;
    }

    .logo-container img{
        width: 200px;
        height: 150px;
    }

    #login-form{
        padding: 1rem;
        margin: 0 1rem;
        background-color: #ffffff;
        border-radius: 5px;
    }

    .icon-container{
        width: 90%;
    }

    .image-wrapper{
        display: none;
    }

    .error-span-container{
        width: 100%;
    }
}

@media (min-width: 480px) {
    .logo-container img{
        width: 250px;
        height: 150px;
    }

    #login-form{
        padding: 1rem 2rem;
        margin: 0 2rem;
    }

    .icon-container{
        width: 94%;
    }
}

@media (min-width: 760px) {
    .logo-container img{
        width: 300px;
        height: 250px;
    }

    #login-form{
        padding: 1rem 4rem;
        margin: 0 4rem;
        border-radius: 5px;
    }

    .icon-container{
        width: 95%;
    }
}

@media (min-width: 960px) {
    #login-wrapper{
        display: flex;
        margin: 2rem;
        height: 90vh;
    }

    #login-container{
        background-image: none;
        background-color: #ffffff;
        height: 100%;
    }

    .logo-container{
        padding: 2rem 4rem 0 4rem;
    }

    .logo-container img{
        width: 250px;
        height: 80px;
    }

    #login-form{
        padding: 0;
        margin: 0 2rem;
    }

    #login-form h2{
        margin-bottom: 6rem;
    }

    .icon-container{
        width: 90%;
    }

    .image-wrapper{
        display: block;
    }

    .error-span-container{
        width: 40%;
    }
}

@media (min-width: 1200px) {
    .logo-container{
        padding: 2rem 6rem 0 6rem;
    }

    .logo-container img{
        width: 300px;
    }

    #login-form{
        margin: 0 3rem;
    }
}

@media (min-width: 1400px) {
    .logo-container{
        padding: 4rem 8rem 0 8rem;
    }

    .logo-container img{
        width: 300px;
    }

    #login-form{
        margin: 0 4rem;
    }

    #login-form h2{
        margin-bottom: 4rem;
        margin-top: 1rem;
    }

    .bottom-container{
        margin-top: 2rem;
    }
}