.book-information{
    box-shadow: 2px 1px 5px 4px #00347026;
    width: 100%;
    padding: 0 2rem;
}

.book-author{
    color: #1076b5;
    font-weight: bold;
}

.book-genre p{
    margin: 0;
}

.date-container{
    display: flex;
    justify-content: center;
    padding-top: 0;
}

.date-container div:nth-child(2){
    margin-left: 1rem;
}

.arrow-link{
    background-color: #1076b5;
    border-radius: 5px;
    text-align: center;
}

@media (min-width: 320px) {
   .book{
       display: block;
       width: 100%;
       margin: 1rem 0;
       box-shadow: 0px 1px 8px 1px #00347026;
   }

   .book-image{
       width: 100%;
       height: 100%;
       text-align: center;
    }

    .book-image img{
       width: 150px;
       border-radius: 8px;
       margin-top: 1rem;
    }

    .book-information{
       box-shadow: none;
       width: 100%;
       padding: 0;
       text-align: center;
    }

    .date-container{
        padding: 0;
    }

    .arrow-link{
        width: 100%;
    }

    .arrow img{
        margin-top: 5px;
    }
}

@media (min-width: 760px) {
    .book{
        display: flex;
        width: 95%;
        margin: 1rem 0;
        margin-left: 1rem;
        box-shadow: none;
    }

    .book-image{
        width: 150px;
        height: 100%;
    }
    
    .book-image img{
        width: 100%;
        height: 100%;
        border-radius: 8px;
        margin-top: 0rem;
    }

    .book-information{
        box-shadow: 2px 1px 5px 4px #00347026;
        padding: 0 2rem;
        text-align: left;
    }

    .date-container{
        display: flex;
        padding-top: 0;
        justify-content: start;
    }

    .arrow-link{
        width: 2rem;
    }
    
    .arrow img{
        margin-top: 70px;
    }
}

@media (min-width: 960px) {
    .book{
        display: flex;
        width: 95%;
        margin: 1rem 0;
        margin-left: 1rem;
    }
}

@media (min-width: 1200px) {
    .book{
        width: 48%;
    }
}