.settings-section{
    width: 45%;
    box-shadow: 2px 1px 5px 4px #00347026;
    margin-left: 2rem;
    padding: 1rem;
    border-radius: 5px;
}

.settings-type{
    font-size: 14px;
    padding: 0 1rem;
}

#book-settings{
    display: flex;
    justify-content: space-between;
}

#add-new button{
    border-radius: 5px;
    margin-top: 1.25rem;
    padding: 0.5rem 2rem;
    background-color: #08C642;
    color: #fff;
    border: none;
}

#book-settings div h2{
   margin-top: 1.5rem;
}

.option{
    display: flex;
    white-space: nowrap;
}

.line{
    padding: 0 2rem;
    content: '';
    width: 100%;
    height: 2px;
    margin: 1.5rem 1rem 0 1rem;
    background-color: #1076b5;
}

.arrow-container{
    position: relative;
}

.arrow-container img{
    position: absolute;
    right: 0.2rem;
    top: 0.8rem;
    filter: invert(29%) sepia(69%) saturate(2027%) hue-rotate(182deg) brightness(93%) contrast(87%);
}

@media (min-width: 320px) {
    #settings-wrapper{
        display: block;
        padding: 1rem;
    }

    .settings-section{
        width: 100%;
        height: 100%;
        margin: 1rem 0;
        padding: 2rem 0;
    }

    .option{
        display: block;
        margin-top: 2rem;
        padding: 0;
    }

    .option p{
        font-weight: bold;
        margin-left: 1rem;
        margin-bottom: 0rem;
    }
    
    .line{
        padding: 0;
        margin: 0;
    }

    .arrow-container img{
        position: absolute;
        right: -2px;
        top: -10px;
    }
}

@media (min-width: 760px) {
    #settings-wrapper{
        display: flex;
        padding: 1rem;
    }

    .settings-section{
        height: 75vh;
        margin: 1rem;
    }

    .option{
        display: flex;
    }

    .line{  
       margin: 1.5rem 1rem 0 1rem;
    }
}